body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/4v4I0eW.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

main {
  max-width: 800px;
  margin: 40px auto;
  margin-bottom: 40px;
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

button {
  font-family: 'Raleway', sans-serif;
  display: block;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
